<div class="menu">
    <div class="menu-tieptan">
        <div class="menu-tieptan-1">
            <img class="img-NhanVienTiepTan" src="./img/NhanVienTiepTan.png">
            <button type="button">
                Đăng ký lịch rảnh
            </button>
        </div>
        <div class="menu-tieptan-1">
            <img class="img-NhanVienTiepTan" src="./img/NhanVienTiepTan.png">
            <button type="button">
                Xem lịch làm việc
            </button>
        </div>
    </div>
</div>