<div class="menu">
    <div class="menu-tieptan">
        <div class="menu-tieptan-1">
            <img class="img-NhanVienTiepTan" src="./img/NhanVienTiepTan.png">
            <button type="button">
                Danh sách phiếu đặt hàng
            </button>
        </div>
        <div class="menu-tieptan-1">
            <img class="img-NhanVienTiepTan" src="./img/NhanVienTiepTan.png">
            <button type="button">
                Danh sách đặt mua vaccine
            </button>
        </div>
    </div>
</div>