<div class="menu">
    <div class="menu-tieptan">
        <form class="menu-tieptan-1" action="./NhanVienDieuHanh/SapXepLich" method="get">
            <img class="img-NhanVienTiepTan" src="./img/NhanVienTiepTan.png">
            <button type="submit">
                Sắp Xếp lịch làm việc
            </button>
        </form>
        <form class="menu-tieptan-1" action="./NhanVienDieuHanh/SapXepLich" method="get">
            <img class="img-NhanVienTiepTan" src="./img/NhanVienTiepTan.png">
            <button type="submit" href="/NhanVienDieuHanh/SapXepLich/">
                Xem lịch làm việc của nhân viên
            </button>
        </form>
    </div>
</div>